<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.mapper.VendedorMapper">
	<select id="sesion" resultType="model.Vendedor" parameterType="model.Vendedor">
		SELECT usu_ven as usuario,
			   cla_ven as clave
		FROM tb_vendedor
		WHERE usu_ven = #{usuario} and cla_ven = #{clave}
	</select>
</mapper>